<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage == 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: i == currentPage }"
        *ngIf="checkIndex(i)"
      >
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      [appClass]="{ disabled: currentPage == images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <!-- <h4 [appClass]="'gray'">
    {{ images[currentPage].title }}
  </h4> -->
  <h4>
    {{ images[currentPage].title }}
  </h4>
  <img [src]="images[currentPage].url" alt="img" />
</div>

<!-- <div *appTimes="5">
  <h1>hi</h1>
</div> -->

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">current page is one</div>
  <div *ngSwitchCase="2">current page is three</div>
  <div *ngSwitchCase="3">current page is four</div>
  <div *ngSwitchDefault>current page is unknown</div>
</div> -->

<!--
  TODO : change current page  when clicking and pressing next and previous
  TODO: showing images based on currentPage value
  TODO: issue with the design
  ?  use ng-content to avoid multiple directives in the same html element
  ! (invisible elements) : use it to get around that role only one structural directive per element
 -->

<!--
  * Communicate from parent to child
  &[a] - Parent Component template
        <app-card [title]="'someTitle'"></app-card>
  &[b] - Child Component class
        import {input} from 'angular'
        class ChildComponent{
          @Input title:string;
        }
  -->
