<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage == 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: i == currentPage }"
      *ngFor="let img of images; let i = index"
    >
      <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage == images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<!--
  TODO : change current page  when clicking and pressing next and previous
 -->
